extends ../layout

block content
  h1.mb-5 #{__("add_doc_title")}

  include ../partials/form_search_field.pug

  form(id="doc-form" action=`/doc/add` method="post")
    hr

    hr#form-sep

    button(type="submit").btn.btn-primary.col-md-2.offset-md-10 #{__("submit_button")}

  include ../partials/modal_add_field.pug

  include ../partials/fields_scripts.pug

  script.
    const form = document.getElementById('doc-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(form);
      const formDataArray = [];

      for (const [key, value] of formData.entries()) {
        if (key === 'id') {
          const newObj = { _id: value, fields: [] };
          formDataArray.push(newObj);
        } else if (key === 'public') {
          const lastObjIndex = formDataArray.length - 1;
          formDataArray[lastObjIndex].public = value === 'on';
        } else if (key === 'sort') {
          const lastObjIndex = formDataArray.length - 1;
          formDataArray[lastObjIndex].sort = value;
        } else {
          const lastObjIndex = formDataArray.length - 1;
          formDataArray[lastObjIndex].fields.push({ _id: key, value: value });
        }
      }

      fetch('/doc/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formDataArray)
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Errore durante l\'invio dei dati al server');
        }
      })
      .then(data => {
        window.location.href = `/doc/${data.updatedDocument._id}`;
      })
      .catch(error => {
        console.error('Errore:', error);
      });
    });
