form#signup(action="/login" method="post")
  input(type="hidden", name="action" value="signup")
  .row
    .mb-3
      label.form-label(for="signup_email") #{__('form_signup_email')}:
      input.form-control(type="email" id="signup_email" name="email", required)
    .mb-3
      label.form-label(for="signup_password") #{__('form_signup_password')}:
      input.form-control(type="password" id="signup_password" name="password", required)
    .mb-3
      label.form-label(for="signup_password_control") #{__('form_signup_password_check')}:
      input.form-control(type="password" id="signup_password_control" name="password_control", required)
  hr
  button.btn.btn-primary(type="submit") #{__('form_signup_button')}

script.
  document.querySelector('#signup').addEventListener('submit', function(event) {
    const password = document.querySelector('#signup_password').value;
    const passwordControl = document.querySelector('#signup_password_control').value;

    if (password !== passwordControl) {
        console.log('Le password non corrispondono. Riprova.');
        event.preventDefault();
    }
  });